<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div class="wrapper">
        <div id="app">
            <input type="checkbox" v-model="imgShow">
            <input type="text" placeholder="title" v-model="title">
            <input type="text" placeholder="img" v-model="imgUrl">
           <br>


            <div class="img__wrapper" v-if="imgShow">
                <button @click="up">{{buttons.next.title}}</button>
                <br>
                <img @click="changeImg" :src="imgUrl" :alt="title" :title="title">
            </div>
        </div>
    </div>

    <script>
         const App = {
        data() {
            return {
                
                    title: 'dog',
                imgShow: false, 
                imgUrl: 
                }
        
        }
    },
    methods: {
        down () {
            if(this.priority.value >= 1) {
                this.priority.value -= 1
            }
        },
        up () {
            if(this.priority.value < 3) {
                this.priority.value += 1
            }
        }
    },
    
    Vue.createApp(App).mount('#app');
    </script>
</body>
</html>