<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <div class="sitee" id="site"> 
        <h1>{{title}}</h1>
        <input type="text" :placeholder="placeholderClick" v-model="text">
        <p>{{text}}</p>
        <button class="btn" @click="addBtn">Add new note</button>
        <div class="note" v-for="(note, index) in notes">
            <p>
                <span @click="remove(index)">&#10006</span>
               {{note}}
            </p>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>