<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div class="wrapper">
        <div id="app">
            {{names}}
            <ul>
                <li v-for="name in names" key="name">{{name}}</li>
            </ul>
            <button @click="addNewItem">Submit</button>
            <hr>
            <hr>
            {{people}}
            <ul>
                <li v-for="person in people" key="person.id">
                    <h2>{{person.id}}</h2>
                    <p>{{person.name}}-{{person.age}}</p>
                    <p>Gender: {{person.male ? 'male' : 'female'}}</p>
                </li>
            </ul>
            <button @click="addNewItem2">Submit2</button>
        </div>
    </div>

    <script>
         const App = {
        data() {
            return {
                names: ['Evgenii', 'Solov', 'Daria'],
                people: [
                    {
                        id: 1,
                        name: 'Evgenii',
                        age: 24,
                        male: true,
                    },
                    {
                        id: 2,
                        name: 'Solov',
                        age: 24,
                        male: true,
                    },
                    {
                        id: 3,
                        name: 'Daria',
                        age: 30,
                        male: false,
                    },
                ]
        
        }
    },
    methods: {
        down () {
            if(this.priority.value >= 1) {
                this.priority.value -= 1
            }
        },
        up () {
            if(this.priority.value < 3) {
                this.priority.value += 1
            }
        }
    },
    computed: {
        message() {
            const message = {
                welcome: 'Make some vote',
                save: 'Saved',
            }
            return this.priority.value > 0 ? message.save : message.welcome
        }
    }
}
    Vue.createApp(App).mount('#app');
    </script>
</body>
</html>