<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div class="wrapper">
        <div id="app">{{ title }}</div>
    </div>

<script>
    const App = {
        data() {
            return {
                title: 'Vue Init: Work with data',
            }
        }
    }
    Vue.createApp(App).mount('#app');
</script>
</body>
</html>